/* styles.css */



/************************* 
 id - color
*************************/

#index-productList {
	background-color: #ececec;
}

#index-department {
	background-color: #92aedc;
}

#index-brands {
	background-color: #7ba1df;
}

/************************* 
 Global
*************************/

a {
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease;
}

a:hover {
	color: #31aae2;
}

html,
body {
	height: 100%;
	/* Ensure the body takes up the full height */
	margin: 0;
}

body {
	display: flex;
	/* so that footer get pushed bottom */
	flex-direction: column;
}




/************************* 
 NavBar
*************************/


/* Navbar */

#navbar {
	background-color: transparent;
	transition: background-color 0.8s ease, height 0.5s ease;
	height: 80px;
}

#navbar .navbar-brand img {
	max-height: 70px;
	object-fit: contain;
	transition: max-height 1s ease; /* Smooth transition for image height */
}


#navbar.navbar-scrolled {
	background-color: #333333 !important;
	height: 60px;
}

#navbar.navbar-scrolled img {
	max-height: 50px;
}


#navbar .navbar-brand {
	text-shadow: 2px 2px 4px rgba(0, 0, 0);
	font-family: Baskerville, Georgia, "Kaiti", "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
}



#navbar .nav-link {
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s ease;
}

#navbar .nav-link:hover {
	border-bottom: 2px solid white;
}


/* Dropdown menu */
#navbar .dropdown-menu {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	background-color: #d0d0d0;
	transform: translateY(10px);
	left: 0;
	width: 100%;
	min-width: 100px;
	line-height: 40px;
	/* Animation */
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.3s ease;

}

.nav-item .nav-active {
	border-bottom: 2px solid white !important;
}

#navbar .nav-item:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#navbar .dropdown-menu .dropdown-item {
	transition: background-color 0.3s ease;
}

#navbar .dropdown-menu .dropdown-item:hover {
	background-color: #31aae2;
	color: #fff;
}


.dropdown {
	position: static !important;
}



/************************* 
 Carousel
*************************/


/* Shadow */
.carousel-inner {
	filter: brightness(40%);
}

/* carousel text */
.caption {
	position: absolute;
	top: 50%;
	z-index: 10;
	width: 100%;
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}


/************************* 
 Section
*************************/

.yk-section {
	padding: 20px;
}

/************************* 
Footer
*************************/

.footer {
	margin-top: auto;
}

footer img {
	max-height: 100px;
	object-fit: contain;
}

footer .footer-section-1 {
	background-color: #333;
	color: #fff;
}

footer .footer-section-1 h1 {
	text-shadow: 2px 2px 4px rgba(0, 0, 0);
	font-family: Baskerville, Georgia, "Kaiti", "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
}

footer .footer-section-2 {
	background-color: #222;
	color: #fff;
}

footer a {
	color: #31aae2;
}


footer a:hover {
	color: #e6e6e6 !important;
}

.footer-section-2 .footer-link {
	color: inherit;
	text-decoration: none;
	transition: color 0.3s;
}




/* footer social links */


.footer .social-links a {
	font-size: 20px;
	width: 42px;
	height: 42px;
	color: #6b6b6b;
	background-color: #4a4a4a;
	line-height: 42px;
	border-radius: 50%;
}

.footer .social-links a:hover {
	color: #ffffff;
	background-color: #31aae2;
}


/************************* 
 Parallax
*************************/


.parallax-section {
	position: relative;
	min-height: 400px;
	overflow: auto;
}

.parallax-image {

	filter: brightness(30%);
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/img-page-title.jpg');
	background-size: cover;
	background-attachment: fixed;
	/* Creates the parallax effect */
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.parallax-content {
	position: relative;
	z-index: 2;
	color: white;
	padding: 20px;
	top: 50%;
	transform: translateY(-50%);
}


/************************* 
 Card
*************************/

.custom-card-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


.card-img-container {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
}





/************************* 
 Back to Top
*************************/



#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	/* Hidden by default */
	z-index: 100;
}